
body {
    margin:0 auto;
    font-family: 'Roboto', Arial, sans-serif;
    font-size:12pt;
    line-height:18pt;
    padding:20px;
}

p {
    font-size:1rem;
}

h1 {
    font-size:2.2rem;
    line-height:2.8rem;
    font-weight: normal;
}

h2 {
    font-size:1.5rem;
    line-height:2rem;
    font-weight: normal;
}

h3 {
    font-size:1.2rem;
    font-weight: normal;
    padding-top:15px;
    padding-bottom:0px;
}

.certificate-outerbox {
    height: 100%;
    width: 100%;
    border:1px solid #b1b1b1;
    background-color:white;
    color:#5a6870;
    text-align:center;
    background-image: url(https://gallery.mailchimp.com/42015a9432559506567179801/images/abb7fe68-fe21-41fc-8777-5e64da4eccda.png);
    background-size: 100%;
    background-repeat: repeat-y;
}

.inside-box {
    margin:0 auto;
    padding:80px 60px 60px 60px;
}

.logo {
    background-image: url(https://gallery.mailchimp.com/42015a9432559506567179801/images/90574034-3591-4e88-8136-b0a9d740ddcc.png);
    background-repeat: no-repeat;
    background-size: 180px auto;
    width:180px;
    height:35px;
    margin:0 auto;
}

.signature-area {
    width:260px;
    margin:0 auto;
}

.signature {
    background-image: url(https://gallery.mailchimp.com/42015a9432559506567179801/images/2018c638-3947-404d-a69d-369df105669a.png);
    background-repeat: no-repeat;
    background-size: 260px auto;
    padding-bottom:25px;
    padding-top:20px;
    font-size:2.2rem; 
    height:30px;
}

.name{
    position:relative;
    font-size:0.8rem;
    line-height:1.2rem;
    padding-top:10px;
}

@media print {
    .certificate-outerbox {
        background-image: url(https://gallery.mailchimp.com/42015a9432559506567179801/images/abb7fe68-fe21-41fc-8777-5e64da4eccda.png);
        background-size: 100%;
        -webkit-print-color-adjust:exact;
    }
    header, footer { 
        display: none; 
    }
}


@media screen {
    #container {
       height: 100%;
       width: 100%;
    }
}

:root{
  font-size: calc(6pt + 1vw);
}
